<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <script defer type="text/javascript" src="js/index.js"></script>
    </head>
    <body class="flex h-screen flex-col">
        <header class="pt-2.5 pb-4 border border-black w-auto">
            <nav class="flex justify-around">
                <section id="nav-logo">
                    <a href="/" class="hover:underline text-xl"><%= title %></a>
                </section>
                <section id="nav-item" class="space-x-2">
                    <a href="#convert-form" class="hover:underline">Convert</a>
                    <a href="#image-type-description" class="hover:underline"
                        >Description</a
                    >
                </section>
            </nav>
        </header>
        <main class="flex items-center flex-col py-5 flex-1">
            <% if (msg) { %>
            <section
                id="flash-msg"
                class="flex gap-x-3 <%= (error) ? 'bg-red-300' : 'bg-green-300' %> rounded p-2 border <%= (error) ? 'border-red-300' : 'border-green-300' %>"
            >
                <p><%= msg %></p>
                <span class="cursor-pointer" id="close-flash-msg">X</span>
            </section>
            <% } %>
            <section id="convert-form" class="py-3">
                <h1 class="font-bold">Image Converter</h1>
                <form
                    action="/"
                    method="POST"
                    enctype="multipart/form-data"
                    class="flex flex-col border border-black p-2"
                >
                    <table
                        style="border-spacing: 5px; border-collapse: separate"
                    >
                        <tbody>
                            <tr>
                                <td>
                                    <label for="from-ext" class="cursor-pointer"
                                        >From
                                    </label>
                                </td>
                                <td>:</td>
                                <td>
                                    <select
                                        name="from-ext"
                                        id="from-ext"
                                        class="cursor-pointer"
                                        autofocus
                                    >
                                        <option selected disabled>
                                            --Choose image type--
                                        </option>
                                        <option value="BMP">BMP</option>
                                        <option value="GIF">GIF</option>
                                        <option value="JPEG">JPEG</option>
                                        <option value="PNG">PNG</option>
                                        <option value="TIFF">TIFF</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="to-ext" id="to-ext-label"
                                        >To
                                    </label>
                                </td>
                                <td>:</td>
                                <td>
                                    <select name="to-ext" id="to-ext" disabled>
                                        <option selected disabled>
                                            --Choose image type--
                                        </option>
                                        <option value="BMP">BMP</option>
                                        <option value="GIF">GIF</option>
                                        <option value="JPEG">JPEG</option>
                                        <option value="PNG">PNG</option>
                                        <option value="TIFF">TIFF</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="image" id="image-label"
                                        >Upload Image
                                    </label>
                                </td>
                                <td>:</td>
                                <td>
                                    <input
                                        type="file"
                                        id="image"
                                        name="image"
                                        disabled
                                    />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-right">
                                    <button
                                        type="submit"
                                        id="convert-button"
                                        class="text-gray-500 bg-gray-100 border border-gray-500 rounded py-0.5 px-1"
                                        disabled
                                    >
                                        Convert
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </section>
            <% if (convertedFile) { %>
            <section id="converted-file" class="flex flex-col gap-y-2 py-3">
                <h3>Result: <%= convertedFile %></h3>
                <article class="flex flex-row items-center gap-x-3">
                    <p>From: <%= fromExt %></p>
                    <p>To: <%= toExt %></p>
                    <a
                        href="uploads/to/<%= convertedFile %>"
                        class="border border-black rounded py-0.5 px-1 hover:bg-black hover:text-white"
                        download
                        >Download</a
                    >
                </article>
            </section>
            <% } %>
            <section id="image-type-description" class="hidden">
                <article id="from-type-description">
                    <h2 class="font-bold" id="from-description-h2"></h2>
                    <p id="from-description-p"></p>
                </article>
                <article id="to-type-description" class="hidden">
                    <h2 class="font-bold" id="to-description-h2"></h2>
                    <p id="to-description-p"></p>
                </article>
            </section>
        </main>
        <footer class="text-center py-3">
            <em>
                Copyright &copy; 2022 -
                <a
                    href="https://github.com/NaufalK25"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:underline"
                    >Muhammad Naufal Kateni</a
                >
                - All rights reserved.
            </em>
        </footer>
    </body>
</html>
